@using Microsoft.AspNetCore.Identity;
@using Accipiter.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Accipiter</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main-page.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/base-styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="background-main">
    <header class="border-bottom header background-white">
        <div class="container">
            <div class="topnav">
                @if (!SignInManager.IsSignedIn(User))
                {
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://apocatastas.github.io/thebestdeveloperever/1.svg" /></a>

                }
                else

                {
                    <a asp-area="" asp-controller="AccountManager" asp-action="MyPage"><img src="https://apocatastas.github.io/thebestdeveloperever/1.svg" /></a>
                    <div class="righ-align">
                        <form method="post" asp-controller="PostManager" asp-action="PostContent">
                            <input class="enter_submit" type="submit" value="Новый пост" />
                        </form>
                        <form method="post" asp-controller="AccountManager" asp-action="Logout">
                            <input class="enter_submit" type="submit" value="Выход" />
                        </form>
                    </div>
                    <div class="righ-align">
                        <form asp-area="" asp-controller="AccountManager" asp-action="UserList" method="get">
                            <i class="fa fa-search"></i>
                            <input type="text" placeholder="Поиск" name="search">
                        </form>
                    </div>

                }
            </div>
        </div>
    </header>
    <div class="container background-main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Heroes network - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script defer src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script defer src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
